* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    width: 100%;
}

#mg-card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
}

.card {
    width: 250px;
    height: 500px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card img {
    height: 300px;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    padding: 10px;
    object-fit: cover;
}
.card ul {
    margin-top: 15px;
    padding: 0;
}
.card ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid lightgray;
    padding: 0px 10px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.card ul li:last-child {
    border: none;
}

.container{
    justify-content: center;
}

.card{
    margin: 10px;
    font-size: 12px;
    display: flex;
    padding: 10px;
}

.card-img-top{
    width: 210px;
    margin: 0;
}

.yb-books-ranking{
    font-size: 20px;
    font-weight: bold;
}

#yb-popular-loan-books{
    /* display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px; */
    padding: 10px;
    
}

.card-title{
    font-size: 13.5px;
    font-weight: bold;
}

.card-body{
    padding: 7px;
    margin: 0;
}

.btn{
    background-color: white;
    color:black;
    border-color: #E2E2E2;
}

.pagination{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

.tem{
    display: flex;
}

.form-control{
    width: 1000px;
    height: 70px;
}

.d-flex{
    margin: 100px 0;
}

.main{
    justify-content: center;;
}

.yb-popular-loan-books-content{
    margin: 20px;
    margin : 20px;
}

.row{
    justify-content: center;
}

.yb-pagination{
    margin : 20px;
    padding : 20px;
}

.chightemp{
    color: rgba(255, 0, 0, 0.633);
}

.ctemp{
    color: rgb(78, 78, 78);
}

.search-section{
    display: flex;
    justify-content: center;
}

#yb-popular-loan-books-menu{
    margin: 20px 0;
}

#yb-popular-loan-books-menu button{
    margin-right: 20px;
    height:50px;
    width: 80px;
}